@import url("custom.css");body{overflow-y:scroll;background:url('../images/overlay.png');min-height:100%;margin:0}
body::-webkit-scrollbar{width:0}
body::-webkit-scrollbar-track{background:#ccc}
body::-webkit-scrollbar-thumb{background:#999}
#header{min-height:0;background:#fff;border-bottom:2px solid #666;box-shadow:0 1px 6px 0 rgba(32,33,36,0.28);-moz-user-select:-moz-none;-khtml-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;-webkit-backdrop-filter:blur(32px);backdrop-filter:blur(32px)}
#menu{display:none;padding:5px}
#menu label{margin:2px auto}
#menu .btn-toolbar{margin-left:0}
#filter_menu_type .btn,#filter_menu_size .btn,#filter_menu_regexp input{margin-bottom:5px}
#filter_menu_regexp input{width:400px}
.regexp_error{background:#fcc}
#select_menu{padding:0;width:100%}
#filter_menu_type,#funnel_container,#line_option_container,#filter_menu_regexp,#dedup_menu{display:flex}
.header_menu_label{width:88px}
.header_menu_body{flex:1}
#size_item_container{margin:0 -5px;padding:0}
#header-container{background:#f9f9f9;border-bottom:1px solid #999;padding:5px}
#image_summary{overflow:hidden}
#image_summary label{margin:1px 0}
.summary_badge{padding:0 8px;color:#e5e5e5;background-color:rgba(128,128,128,1.0);border-radius:.5em;margin-left:2px;margin-right:5px}
#pullywood_production{float:right;text-align:right}
#popup_user_info{display:inline}
#cboxContent,#cboxLoadedContent,#cboxLoadingOverlay{background:0;padding:0}
#menu_switch .btn-group:nth-of-type(2){margin-left:32px}
#ext_main{text-align:center;padding:10px;-moz-user-select:-moz-none;-khtml-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none}
.ext_page_input{display:inline-block;padding:0 6px}
.imageItem{display:inline-block;overflow:hidden;margin:10px;border:3px solid rgba(255,255,255,0);border-radius:4px;padding:2px;vertical-align:middle;text-align:center;text-decoration:none;outline:0}
.imageItem:visited,.imageItem:active,.imageItem:focus{text-decoration:none;outline:0}
.imageItem:hover{box-shadow:#9f0 0 0 32px 0;text-decoration:none}
.imageItem img{max-width:256px;max-height:256px;display:inline-block;vertical-align:middle;padding:0;margin:0 auto}
.imageItem .imageItemResolution{line-height:20px;margin-top:-20px;background:rgba(118,185,0,0.8);color:#fff;position:relative;display:none}
.imageItem.selected,.imageItem.preSelect{border:3px solid #0a0;background-color:#fff;box-shadow:#9f0 0 0 16px 0;outline:0}
.imageItem.preUnSelect{border:3px solid #eee}
.colorboxSelect{box-shadow:0 0 96px #6f0}
#cboxCurrent{position:absolute;top:20px;left:0;color:unset;text-indent:unset}
#cboxTitle,#cboxCurrent{color:#000;text-shadow:0 0 4px #fff}
#empty{max-width:25%;max-height:25%;opacity:.8;filter:alpha(opacity = 80)}
@media(max-width:768px){#empty{max-width:50%;max-height:50%}
}
.blobModeSwitchContainer{padding:0 0 0 50px}
.continuousSwitchContainer{padding:0 5px 0 5px}
#cboxLoadedContent img{transition-duration:.5s}
.cbxToolbar{opacity:.1;filter:alpha(opacity = 10);position:fixed;bottom:32px;text-align:center;font-size:32px;left:50%;transform:translateX(-50%);white-space:nowrap;z-index:9999}
.cbxToolbar:hover{opacity:.6;filter:alpha(opacity = 60)}
.cbxToolbar i{border-radius:50%;margin:8px;padding:8px;color:#333;background-color:#fff}
.cbxToolbar i:hover{color:#fff;background-color:#76b90099}
.cbxToolbar i.on{color:#76b900;background-color:#fff}
.cbxToolbar i:hover{cursor:pointer}
@media(prefers-color-scheme:dark){body{background-color:#0f1419;background-image:url('../images/_overlay.png')}
#header{color:#c5c5c5;background-color:rgba(15,20,25,0.8)}
#header-container{background-color:rgba(31,36,41,0.8)}
select{background:#0f1419}
#cboxOverlay{background-color:#0f1419;color:#c5c5c5}
.cbxToolbar i{color:#fff;background-color:#333}
.ext_page_input{border:1px solid #767676;background-color:#141920}
}
#cbxImgContainer{display:flex;align-items:center;justify-content:center;overflow:hidden;width:100%;height:100%}
#cbxImg{position:relative;display:flex;align-items:center;vertical-align:middle}